:root {
    --colorPrimario: #130000;
    --colorSecundario: #002E7E;
    --gris: #C2C2C2;
    --grisOscuro: #A9A9A9;
    --blanco: #FFF;
    --negro: #000;

    --fuenteHeading: 'Kavoon', cursive;
    --fuenteParagraph: 'Kalam', cursive;
    --fuenteSecundaria: 'Merienda', cursive;
    --fuenteTercearia: 'Shrikhand', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  Global */

body {
    background-color: var(--colorPrimario);
    font-family: var(--fuenteParagraph);
    color: var(--blanco);
}

h1 {
    font-size: 4rem;
    font-family: var(--fuenteHeading);
}

h2 {
    font-size: 3.8rem;
    font-family: var(--fuenteSecundaria);
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Utilities */

.button {
    all: unset;
}

.button:hover {
    all: unset;
    font-weight: 700;
    letter-spacing: 4px;
    transition: 1s ease;
    filter: drop-shadow(2px 2px 3px rgb(255, 251, 0));
}

/* Header */

.header {
    height: 60rem;
    background-image: url(../img/gta_casino.webp);
    background-size: cover;
    background-position: center;
}

.logo__img {
    filter: drop-shadow(2px 2px 2px var(--blanco));
}

.bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Navbar */

.navbar {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: top;
}

.navbar__icon {
    cursor: pointer;
}

.navbar__img {
    display: block;
    width: 45px;
    margin-top: 100px;
    box-shadow: 2px -2px 2px rgba(0, 255, 255, 0.363);
}

.navbar__checkbox {
    display: none;
}

.navbar__checkbox:checked+.navbar__items {
    transform: translate(0);
}

.navbar__items {
    position: fixed;
    display: flex;
    max-width: 400px;
    height: 300px;
    width: 60%;
    top: 150px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(100%);
    transition: transform .4s;
}

.navbar__link {
    list-style: none;
}

.navbar__cta {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
}

.navbar__title {
    filter: drop-shadow(4px 4px 5px var(--grisOscuro));
    text-align: center;
}

.navbar__text {
    font-family: var(--fuenteTercearia);
    color: var(--negro);
    font-size: 6rem;
    letter-spacing: 10px;
}

/* Main */

.main__title {
    font-size: 8rem;
    text-align: center;
}

/* Content Principal */

.content-principal {
    display: flex;
    justify-content: space-evenly;
}

/* Section Primary */

.picture {
    width: 350px;
    margin-bottom: 8rem;
    position: relative;
    overflow: hidden;
}

.picture__img {
    width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.picture__container {
    position: absolute;
    top: 0px;
    background-color: #13000080;
    width: 350px;
    height: 350px;
    padding: 30px 20px 60px 20px;
    color: #FFF;
    border-radius: 8px;
    transform: scale(0);
    transition: transform .5s;
}

.picture:hover .picture__container {
    transform: scale(1);
}

.picture__title {
    font-size: 4rem;
    text-align: center;
    border-bottom: 6px solid #FFF;
    padding-bottom: 6px;
    margin-bottom: .8em;
}

.picture__paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
}

/* Section Secundary */

.section-secundary__titles {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.section-secundary__title {
    text-align: center;
    margin-bottom: 2em;
    letter-spacing: 5px;
    filter: drop-shadow(4px 4px 2px var(--negro));
}

.section-secundary__subtitle {
    margin-bottom: 1em;
}

.section-secundary__text {
    padding-bottom: 3em;
    margin-bottom: 3em;
    font-size: 2rem;
    line-height: 1.5;
    text-align: justify;
    border-bottom: 2px solid var(--blanco);
}

/* Section Picture */

.section-picture {
    display: flex;
    width: 600px;
    height: 430px;
}

.section-picture__img {
    width: 100px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section-picture__img:hover {
    cursor: crosshair;
    width: 500px;
    opacity: 1;
}

/* Section Third */

.section-third {
    gap: 30px;
}

.list__ul {
    list-style: none;
    margin-top: 10px;
    border-top: 1px dashed var(--blanco);
}

.button-third {
    all: unset;
    display: inline-block;
    width: 12.5%;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 8px;
    transition: 1s ease;
}

.button-third:hover {
    background-color: #002e7e60;
    box-shadow: 2px 2px 10px var(--grisOscuro);
    letter-spacing: 5px;
}

.cta {
    color: var(--blanco);
}

/* Sidebar */

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sidebar {
    background-image: linear-gradient(-225deg, #ff3caa30 0%, #562b7c30 52%, #2b85c530 100%), url(../img/rick.gif);
    background-color: rgba(0, 0, 0, 0.486);
    width: 500px;
    height: 600px;
    padding: 20px 30px;
    margin-left: 400px;
    border-radius: 8px;
    text-align: center;
}

.sidebar__title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.sidebar__text {
    font-size: 2rem;
    text-align: justify;
}

.sidebar__img {
    transform: scale(.5);
    animation: rick 5s ease forwards infinite;
}

@keyframes rick {

    0% {
        transform: translateY(-200%) translateX(-100%) scale(.6);
    }

    50% {
        transform: translateY(20%) translateX(-100%) scale(.6);
        filter: drop-shadow(5px 5px 5px rgb(128, 0, 0));
    }

    75% {
        transform: translateY(60%) translateX(-100%) scale(.4);
    }

    100% {
        transform: translateY(40%) translateX(90%) scale(1);
        filter: drop-shadow(5px 5px 5px green);
    }
}

/* Footer */

.footer {
    background-image: url(../img/gta_carro.webp);
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.footer__container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.footer__text {
    font-size: 4rem;
}

.footer__icons {
    order: -1;
}

.footer__icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    border: 1px solid var(--blanco);
    border-radius: 50%;
    transition: 1s ease;
    align-items: center;
    justify-content: center;
}

.footer__icon:hover {
    background-color: var(--colorPrimario);
}

/* Media Queries */

@media screen and (max-width: 1440px) {

    /* Header */
    .logo__img {
        width: 300px;
    }

    /* Navbar */
    .navbar__text {
        font-size: 5rem;
        margin-top: 2em;
    }

    .navbar__img {
        margin-top: 100px;
    }

    /* Section Third */
    .button-third {
        border-bottom: 1px dotted var(--blanco);
    }

    /* Grid Section / Sidebar */
    .grid-section {
        display: unset;
    }

    .sidebar {
        width: 600px;
        height: 600px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .sidebar__img {
        animation: ricardo 5s ease forwards infinite;
    }

    @keyframes ricardo {

        0% {
            transform: translateY(-100%) translateX(-120%) scale(.4);
        }

        50% {
            transform: translateY(50%) translateX(-120%) scale(.6);
            filter: drop-shadow(5px 5px 5px rgb(128, 0, 0));
        }

        75% {
            transform: translateY(80%) translateX(-120%) scale(.4);
        }

        100% {
            transform: translateY(50%) translateX(100%) scale(1);
            filter: drop-shadow(5px 5px 5px green);
        }
    }
}

@media screen and (max-width: 1280px) {

    /* Content Principal */
    .content-principal {
        align-items: center;
        flex-wrap: wrap;
    }

    .section-picture {
        display: grid;
        gap: 10px;
        width: 100%;
        height: 500px;
        margin-bottom: 50px;
    }

    .section-picture__img:nth-child(8) {
        grid-column: 3 / 4;
    }

    .section-picture__img {
        width: 500px;
        opacity: 1;
    }

    /* Grid Section / Sidebar */
    .grid-section {
        display: unset;
    }

    .sidebar {
        width: 600px;
        height: 500px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .sidebar__img {
        animation: morty 5s ease forwards infinite;
    }

    @keyframes morty {

        0% {
            transform: translateY(-100%) translateX(-120%) scale(.4);
        }

        50% {
            transform: translateY(20%) translateX(-120%) scale(.6);
            filter: drop-shadow(5px 5px 5px rgb(128, 0, 0));
        }

        75% {
            transform: translateY(40%) translateX(-120%) scale(.4);
        }

        100% {
            transform: translateY(10%) translateX(100%) scale(1);
            filter: drop-shadow(5px 5px 5px green);
        }
    }
}

@media screen and (max-width: 780px) {

    /* Header */
    .logo__img {
        width: 400px;
    }

    /* Navbar */
    .navbar__img {
        margin-top: 120px;
    }

    .navbar__text {
        font-size: 4rem;
        margin-top: 2em;
    }

    .navbar__items {
        width: 30%;
        top: 160px;
    }

    /* Content Principal */

    .content-principal {
        flex-direction: column;
        align-items: center;
    }

    /* Section Picture */

    .section-picture {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
    }

    .section-picture__img {
        opacity: 1;
        margin: 10px;
    }

    .section-picture__img:hover {
        width: 100px;
    }

    /* Section Third */
    .list__ul {
        border: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .button-third {
        width: 20%;
        font-size: 1.2rem;
        margin-bottom: 5px;
        border-bottom: 1px dashed var(--blanco);
    }

    .button-third:hover {
        background-color: #002E7E;
        box-shadow: unset;
        letter-spacing: unset;
    }

    /* Grid Section / Sidebar */
    .grid-section {
        display: unset;
    }

    .sidebar {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .sidebar__title {
        margin-bottom: 20px;
    }

    .sidebar__text {
        font-size: 1.6rem;
    }

    .sidebar__img {
        animation: ptorick 5s ease forwards infinite;
    }

    @keyframes ptorick {

        0% {
            transform: translateY(-100%) translateX(-80%) scale(.2);
        }

        50% {
            transform: translateY(10%) translateX(-80%) scale(.4);
            filter: drop-shadow(5px 5px 5px rgb(128, 0, 0));
        }

        75% {
            transform: translateY(10%) translateX(-80%) scale(.2);
        }

        100% {
            transform: translateY(0%) translateX(65%) scale(.7);
            filter: drop-shadow(5px 5px 5px green);
        }
    }
}

@media screen and (max-width:480px) {

    /* Header */
    .logo__img {
        margin-top: 40px;
    }

    /* Navbar */
    .navbar__text {
        font-size: 4rem;
        letter-spacing: 2px;
        margin-top: 5em;
    }

    .navbar__img {
        margin-top: 100px;
    }

    .navbar__items {
        max-width: 200px;
        height: 200px;
        width: 40%;
        top: 140px;
        transform: scale(1);
        transition: transform .4s;
    }

    .navbar__cta {
        font-size: 1.5rem;
        opacity: 1;
        font-weight: 700;
    }

    .navbar__cta:hover {
        background-color: var(--colorPrimario);
    }

    .button:hover {
        letter-spacing: 2px;
        filter: drop-shadow(2px 2px 4px #ff0095);
    }

    .navbar__checkbox:checked+.navbar__items {
        transform: scale(0);
    }

    /* Main */
    .main__title {
        font-size: 4rem;
    }

    /* Content Principal */
    .content-principal {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Picture */
    .picture {
        width: 300px;
        margin-bottom: 5rem;
    }

    .picture__img {
        width: 300px;
        height: 300px;
    }

    .picture__container {
        width: 300px;
        height: 300px;
    }

    .picture__title {
        font-size: 3rem;
    }

    .picture__paragraph {
        line-height: 1.3;
    }

    /* Section Secundary */
    .section-secundary__title {
        font-size: 3rem;
    }

    .section-secundary__subtitle {
        font-size: 2.5rem;
    }

    .section-secundary__text {
        text-align: justify;
    }

    /* Section Picture */

    .section-picture {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        height: 200px;
        margin-bottom: 50px;
    }

    .section-picture__img:nth-child(8) {
        grid-column: 3 / 4;
    }

    .section-picture__img {
        opacity: 1;
    }

    /* Section Third */
    .list__ul {
        border: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .button-third {
        width: 20%;
        font-size: 1.2rem;
        margin-bottom: 5px;
        border-bottom: 1px dashed var(--blanco);
    }

    .button-third:hover {
        background-color: #002E7E;
        box-shadow: unset;
        letter-spacing: unset;
    }

    /* Grid Section / Sidebar */
    .grid-section {
        display: unset;
    }

    .sidebar {
        width: 300px;
        height: 400px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .sidebar__title {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 2rem;
    }

    .sidebar__text {
        font-size: 1.5rem;
    }

    /* Footer */
    .footer__text {
        font-size: 2.5rem;
    }

    .footer__icon {
        width: 44px;
        height: 44px;
        border: none;
    }

    .sidebar__img {
        animation: animation 5s ease forwards infinite;
    }

    @keyframes animation {

        0% {
            transform: translateY(-20%) translateX(-60%) scale(.2);
        }

        50% {
            transform: translateY(10%) translateX(-60%) scale(.4);
            filter: drop-shadow(5px 5px 5px rgb(128, 0, 0));
        }

        75% {
            transform: translateY(0%) translateX(-60%) scale(.2);
        }

        100% {
            transform: translateY(-15%) translateX(45%) scale(.7);
            filter: drop-shadow(5px 5px 5px green);
        }
    }
}